body {
  background-color: #CCCC9A;
  font-family:Verdana, sans-serif;
}

div {
  background-color: #fff;
  margin:2em;
  padding:2em;
  border-radius: 1.5em;
}

div.dc {
  border: 0.75em solid #eea;
}

div.mods {
  border: 0.75em solid #aea;
}

div.upstate_object {
  border: 0.75em solid #aae;
}

div.upstate_image {
  border: 0.75em solid #eaa;
}

div.file_sec {
  border: 0.75em solid #aee;
}
